<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <body>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a href="#" class="nav-link active"><i class="fa fa-home"></i>Home</a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>Profile</a>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">User 1</a>
                <a href="#" class="dropdown-item">User 2</a>
                <a href="#" class="dropdown-item">User 3</a>
                <a href="#" class="dropdown-item">User 4</a>

            </div>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-envelope"></i>Personal Messages</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-area-chart"></i>Contact Us</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-institution"></i>About Us</a>
        </li>
        <div class="nav navbar-nav">
            <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-search" aria-hidden="true">Search</i></a>
            <a href="#" class="btn btn-secondary btn-lg"><i class="fa fa-user" aria-hidden="true">User</i></a>
        
        </div>

    </ul>
    
</body> 
</html>
